# base_dj
Jinja2
autopep8
pylint
unicodecsv
# Improve mimetype guessing.
# Requires `libmagic1` to be installed sys-wide
python-magic

## PLATFORM
redis==2.10.5
python-json-logger==0.1.5
statsd==3.2.1

## PLATFORM, for s3 storage at Exoscale
boto3==1.9.102

## FOR MIGRATIONS
# The last release of openupgradelib (release 2.0) contains bugs and don't works with projects in version 12.0
# We need to use the last version of master branch.
# We use the last hash commit to keep a stable version of openupgradelib.
https://github.com/OCA/openupgradelib/archive/3945526d1377533a0aa39d20be88edf2a03f3145.tar.gz#egg=openupgradelib

# base_report_to_printer
pycups==2.0.1

# base_rest
cerberus==1.3.*
pyquerystring==1.1
parse-accept-language==0.1.2
apispec==5.1.*

# base_view_inheritance_extension
pyyaml==5.4.*

# connector
cachetools==4.2.2

# connector_algolia
algoliasearch>=2.0,<3.0

# ddmrp
bokeh==2.3.1
numpy==1.21.*
pandas==0.25.*

# ddmrp_prioritized_share
pulp==2.4
pyparsing==2.2.*  # pulp dependency

# forecast_fbprophet
fbprophet==0.6
LunarCalendar==0.0.9  # fbprophet dependency
ephem==3.7.7.*  # fbprophet; LunarCalendar dependency
cmdstanpy==0.4.0  # fbprophet dependency
convertdate>=2.2.1   # fbprophet dependency
matplotlib==3.2.*  # fbprophet dependency
pystan==2.19.1.1  # fbprophet dependency
holidays==0.10.2  # fbprophet dependency

# mail_inline_css
premailer==3.10.*
cssselect==1.1.*    # premailer dependency
cssutils==2.3.*     # premailer dependency

# shopinvader
unidecode==1.3.*
python-magic==0.4.24    # Requires `libmagic1` to be installed sys-wide
requests_mock
#locomotivecms
# Fix response status handling
# https://github.com/shopinvader/locomotivecms-python-client/pull/4
https://github.com/simahawk/locomotivecms-python-client/archive/master.tar.gz#egg=locomotivecms
validators==0.18.*

# storage_backend_sftp
paramiko==2.7.*

# storage_file
python-slugify==5.0.*

# web_widget_mpld3_chart
mpld3==0.5.5

## custom
